<h1>Мои календарные планы</h1>

<table>
  <tr>
    <th>Предмет</th>
    <th>Группы</th>
    <th>Курс</th>
    <th>Семестр</th>
    <th>Учебный год</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kplans.each do |kplan| %>
  <tr>
    <td><%= kplan.predmet %></td>
    <td><%= kplan.group %></td>
    <td><%= kplan.kurs %></td>
    <td><%= kplan.semestr %></td>
    <td><%= kplan.god %></td>

    <td><%= link_to 'Просмотреть', kplan %></td>
    <td><%= link_to 'Редактировать', edit_kplan_path(kplan) %></td>
    <td><%= link_to 'Удалить', kplan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый план', new_kplan_path %>
