<p id="notice"><%= notice %></p>

<p>
  <b>Predmet:</b>
  <%= @kplan.predmet %>
</p>

<p>
  <b>Spec:</b>
  <%= @kplan.spec %>
</p>

<p>
  <b>Teacher:</b>
  <%= @kplan.teacher_id %>
</p>

<p>
  <b>Group:</b>
  <%= @kplan.group %>
</p>

<p>
  <b>Kurs:</b>
  <%= @kplan.kurs %>
</p>

<p>
  <b>Semestr:</b>
  <%= @kplan.semestr %>
</p>

<p>
  <b>God:</b>
  <%= @kplan.god %>
</p>

<p>
  <b>Chned:</b>
  <%= @kplan.chned %>
</p>

<p>
  <b>Chzan:</b>
  <%= @kplan.chzan %>
</p>

<p>
  <b>Kurs proekt:</b>
  <%= @kplan.kurs_proekt %>
</p>

<p>
  <b>Stud nagruz:</b>
  <%= @kplan.stud_nagruz %>
</p>

<p>
  <b>Nom ur:</b>
  <%= @kplan.nom_ur %>
</p>

<p>
  <b>Razdel:</b>
  <%= @kplan.razdel %>
</p>

<p>
  <b>Nom ned:</b>
  <%= @kplan.nom_ned %>
</p>

<p>
  <b>Chasov:</b>
  <%= @kplan.chasov %>
</p>

<p>
  <b>Vid zan:</b>
  <%= @kplan.vid_zan %>
</p>

<p>
  <b>Nagl pos:</b>
  <%= @kplan.nagl_pos %>
</p>

<p>
  <b>Zad stud:</b>
  <%= @kplan.zad_stud %>
</p>

<p>
  <b>Sam rab stud:</b>
  <%= @kplan.sam_rab_stud %>
</p>

<p>
  <b>Litra:</b>
  <%= @kplan.litra %>
</p>


<%= link_to 'Edit', edit_kplan_path(@kplan) %> |
<%= link_to 'Back', kplans_path %>
