<h1>Мои календарные планы</h1>

<table>
  <tr>
    <th>Предмет</th><th>|</th>
    <th>Специальность</th><th>|</th>
    <th>Группа</th><th>|</th>
    <th>Курс</th><th>|</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @kalplan_tltles.each do |kalplan_tltle| %>
  <tr>
    <td><%= kalplan_tltle.predmet %></td><td>|</td>
    <td><%= kalplan_tltle.spec %></td><td>|</td>
    <td><%= kalplan_tltle.group %></td><td>|</td>
    <td><%= kalplan_tltle.kurs %></td><td>|</td>
 
    <td><%= link_to 'Просмотреть', kalplan_tltle %></td>
    <td><%= link_to 'Редактировать', edit_kalplan_tltle_path(kalplan_tltle) %></td>
    <td><%= link_to 'Удалить', kalplan_tltle, confirm: 'Are you sure?', method: :delete %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать новый календарный план', new_kalplan_tltle_path %>
