<p id="notice"><%= notice %></p>
<h2> Титульный лист </h2>
<p>
  <b>Предмет</b>
  <%= @kalplan_tltle.predmet %>
</p>

<p>
  <b>Специальность</b>
  <%= @kalplan_tltle.spec %>
</p>

<p>
  <b>Группа</b>
  <%= @kalplan_tltle.group %>
</p>

<p>
  <b>Курс</b>
  <%= @kalplan_tltle.kurs %>
</p>

<p>
  <b>Semestr:</b>
  <%= @kalplan_tltle.semestr %>
</p>

<p>
  <b>God:</b>
  <%= @kalplan_tltle.god %>
</p>

<p>
  <b>Chislo ned:</b>
  <%= @kalplan_tltle.chislo_ned %>
</p>

<p>
  <b>Chislo zan:</b>
  <%= @kalplan_tltle.chislo_zan %>
</p>

<p>
  <b>Kprtk:</b>
  <%= @kalplan_tltle.kprtk %>
</p>

<p>
  <b>Stnagr:</b>
  <%= @kalplan_tltle.stnagr %>
</p>

<p>
  <b>Labrab:</b>
  <%= @kalplan_tltle.labrab %>
</p>

<p>
  <b>Uchregd:</b>
  <%= @kalplan_tltle.uchregd %>
</p>

<p>
  <b>Prepod:</b>
  <%= @kalplan_tltle.prepod %>
</p>

<p>
  <b>Teacher:</b>
  <%= @kalplan_tltle.teacher_id %>
</p>


<%= link_to 'Редактировать', edit_kalplan_tltle_path(@kalplan_tltle) %> |
<%= link_to 'Назад', kalplan_tltles_path %> |
<%= link_to 'Содержание плана',  kalplan_tltle_kbodies_path(@kalplan_tltle) %>



<h2> Содержание </h2>









