<p id="notice"><%= notice %></p>

<p>
  <b>Predmet:</b>
  <%= @kalplan_tltle.predmet %>
</p>

<p>
  <b>Spec:</b>
  <%= @kalplan_tltle.spec %>
</p>

<p>
  <b>Group:</b>
  <%= @kalplan_tltle.group %>
</p>

<p>
  <b>Kurs:</b>
  <%= @kalplan_tltle.kurs %>
</p>

<p>
  <b>Semestr:</b>
  <%= @kalplan_tltle.semestr %>
</p>

<p>
  <b>God:</b>
  <%= @kalplan_tltle.god %>
</p>

<p>
  <b>Chislo ned:</b>
  <%= @kalplan_tltle.chislo_ned %>
</p>

<p>
  <b>Chislo zan:</b>
  <%= @kalplan_tltle.chislo_zan %>
</p>

<p>
  <b>Kprtk:</b>
  <%= @kalplan_tltle.kprtk %>
</p>

<p>
  <b>Stnagr:</b>
  <%= @kalplan_tltle.stnagr %>
</p>

<p>
  <b>Labrab:</b>
  <%= @kalplan_tltle.labrab %>
</p>

<p>
  <b>Uchregd:</b>
  <%= @kalplan_tltle.uchregd %>
</p>

<p>
  <b>Prepod:</b>
  <%= @kalplan_tltle.prepod %>
</p>

<p>
  <b>Teacher:</b>
  <%= @kalplan_tltle.teacher_id %>
</p>


<%= link_to 'Edit', edit_kalplan_tltle_path(@kalplan_tltle) %> |
<%= link_to 'Back', kalplan_tltles_path %>

<% for kalplan_body in @kalplan_tltle.KalplanBodies %>
  <%= kalplan_body.razdel %>
<%end%>
